{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}base{% endblock %}</title>

    <link href="{% static 'front/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'front/css/google.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'front/css/sb-admin-2.min.css' %}" rel="stylesheet">

    {% block custom_style %}

    {% endblock %}

</head>

<body id="page-top">

<div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'front:index' %}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-chart-simple"></i>
            </div>
            <div class="sidebar-brand-text mx-3">图书销售系统</div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="{% url 'front:index' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            用户系统
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'front:profile' %}">
                <i class="fas fa-fw fa-user-gear"></i>
                <span>个人信息</span></a>
        </li>

        {% if request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'front:users_manage' %}">
                    <i class="fas fa-fw fa-users-gear"></i>
                    <span>用户管理</span></a>
            </li>
        {% endif %}

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            库存系统
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'front:books' %}">
                <i class="fas fa-fw fa-book"></i>
                <span>图书信息</span></a>
        </li>

        {% if not request.user.is_commonuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'front:stock' %}">
                <i class="fas fa-fw fa-warehouse"></i>
                <span>库存查看</span></a>
        </li>
        {% endif %}

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            销售系统
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'front:make_orders' %}">
                <i class="fas fa-fw fa-handshake"></i>
                <span>创建订单</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'front:orders' %}">
                <i class="fas fa-fw fa-truck"></i>
                <span>订单管理</span></a>
        </li>

        <hr class="sidebar-divider">

        {% if not request.user.is_commonuser %}
        <div class="sidebar-heading">
            财务系统
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'front:financial' %}">
                <i class="fas fa-fw fa-chart-simple"></i>
                <span>流水管理</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'front:overview_financial' %}">
                <i class="fas fa-fw fa-money-check-dollar"></i>
                <span>财务总览</span></a>
        </li>
        {% endif %}

        <hr class="sidebar-divider d-none d-md-block">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{ request.user.name }}</span>
                            <img class="img-profile rounded-circle" src="{{ request.user.avatar.url }}">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">

                            <a class="dropdown-item" href="{% url 'backend:logout' %}" data-toggle="modal"
                               data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                退出登录
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>

            {% block custom_content %}

            {% endblock %}

        </div>

    </div>

</div>


<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">登出确认</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">确定要退出当前账户吗？</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="{% url 'backend:logout' %}">退出登录</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'front/vendor/jquery/jquery.min.js' %}"></script>

<script src="{% static 'front/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'front/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<script src="{% static 'front/vendor/sb-admin-2/sb-admin-2.min.js' %}"></script>


{% block custom_js %}

{% endblock %}

</body>

</html>